*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(/img/fondo\ de\ pagina\ web.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.change_color{
    animation: changeColor 5s Infinite;
    text-align: center;
    font-family: 'Georgia';
}
.encabezado{
    border: 3px solid black;
    padding: 20px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.contorno{
    padding: 500px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
    align-content: center;
    border: 3px solid black;
}
.subtitulos {
    display: flex; 
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}
.subtitulos li {
    text-align: center;
    font-family: 'Georgia'; 
    font-size: 20px;
    padding: 0 2px;
    color: #b46424;
    display: inline; 
    margin: 3em; 
}
.sub{
    display: flex;
    padding: 10px;
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: underline;
}
.titulos {
    font-size: 10px;
    font-family: 'Georgia';  
    position: relative; 
}

.titulos h2 {
    margin: 0; 
    margin-top: -100px; 
    margin-right: 0; 
    position: absolute;
    transform: translate(-260%, -50%); 
}

.titulos h1 {
    margin: 0; 
    margin-top: -450px; 
    margin-right: 0; 
    position: absolute;
    transform: translate(-250%, -50%); 
}
.titulos h3{
    margin: 0; 
    margin-top: -520px; 
    margin-left: 100px; 
    position: absolute;
    align-content: center;
    font-family: 'Georgia';
    font-size: 30px;
}
.p1 {
    position: absolute;
    font-size: 15px;
    transform: translate(-600%, -500%);
}

.imagen_MW {
    position: absolute;
    top: 50%;
    transform: translate(-240%, -145%);
}
li{
    display: inline;
    margin: 3em;

}
/*Selector de evento*/
li a:hover {
    color: yellow;
    text-decoration: none;
    list-style: none;
}

@keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; }
}